@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 200,
  'opsz' 48
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #0c0c18
}

.active {
    display: block;
}

.active-flex {
    display: flex;
}

.inactive {
    display: none;
}

div, ul {
    border-radius: 10px;
}

span {
    border-radius: 50%;
    background-color: hsl(221,130.6%,77.4%);
}

button, input[type="submit"] {
	background: rgb(163, 163, 163);
	border: 2px solid #fff;
	cursor: pointer;
    border-radius: 15px;
    font-size: large;
    transition: background 0.5s;
    transition: color 0.5s;
}

button:hover, input[type="submit"]:hover {
	background: hsl(221,130.6%,32.4%);
    color: #fff;
    transition: background 0.5s;
    transition: color 0.5s;
}

.blue-background {
    background: hsl(221,130.6%,32.4%) !important;
    color: #fff !important;
}